{% render 'partials/head.liquid' %}

<section class="card-section">
  <header class="card-header">
    <h1>Visit Card</h1>
    <div class="control-buttons">
      <button class="spin"></button>
      <button class="delete-button"></button>
    </div>
  </header>
  <div class="card-container">
    <div class="flip-card">
      <div class="card-face-front">
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
        <p class="name-title">C:\Saif Muhamad\Frontend Web Developer</p>
      </div>
      <div class="card-face-back">
        <h2>Contact Information</h2>
        <div class="card-content">
          <p>
            <strong>Name:</strong>
            Saif Muhamad</p>
          <p>
            <strong>Title:</strong>
            Student</p>
          <p>
            <strong>Phone:</strong>
            020 595 1405</p>
          <p>
            <strong>Email:</strong>
            SaifzMuhamad@gmail.com</p>
          <p>
            <strong>Website:</strong>
            <a href="https://saifmuhamad.nl" target="_blank">Saifmuhamad.nl</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% render 'partials/foot.liquid' %}